<div class="conteiner__card-top">
    <div class="card-top__left">
        <div class="card-left__photor">
            <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
        </div>
        <div class="card-left__top">
            <div class="card-left__title">
                <span>Podcast</span>
                <h3>Em Auta</h3>
            </div>
            <div class="lista-musc">
                <ul>
                    <li>#01<a class="play">-Meu Fechamento É Você-</a></li>
                    <li>#02<a class="play">-POSSE DE TRUMP: RICARDO MARCILIO E DANIEL LOPEZ - Inteligência Ltda. Podcast #1423-</a></li>
                    <li>#03<a class="play">----------------------</a></li>
                    <li>#04<a class="play">----------------------</a></li>
                    <li>#05<a class="play">----------------------</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-top__reght">
        <div class="card-reght__title">
            <h1>Have You Heard Our Podcast Yet?</h1>
        </div>
        <div class="card-reght__button">
            <input type="button" value="{{button}}">
        </div>
    </div>
</div>
