<div class="conteiner__card-top">
    <div class="card-top__left">
        <div class="card-left__photor">
            <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
        </div>
        <div class="card-left__top">
            <div class="card-left__title">
                <span>Podcast</span>
                <h3>Em Auta</h3>
            </div>
            <a href=""></a>
        </div>
    </div>
    <div class="card-top__reght">
        <div class="card-reght__title">
            <h1></h1>
        </div>
        <div class="card-reght__button">
            <button></button>
        </div>
    </div>
</div>
