<app-nav-blog></app-nav-blog>
<app-title 
    primaryImg="{{primaryImg}}" 
    secondImg="{{secondImg}}"
    blogTitle="{{blogTitle}}"
    blogDescricao="{{blogDescricao}}"
    title="{{title}}"
    descricao="{{descricao}}"
    filtre1="{{filtre1}}"
    filtre2="{{filtre2}}"
    filtre3="{{filtre3}}"
    ></app-title>
<app-card-top-musc
    img="{{img}}"
    top="{{top}}"
    title="{{titleTop}}"
    top1="{{top1}}"
    top2="{{top2}}"
    top3="{{top3}}"
    top4="{{top4}}"
    top5="{{top5}}"
    descricaoTop="{{descricaoTop}}"
    button="{{button}}"
></app-card-top-musc>
<app-card-new></app-card-new>
<app-card-top-musc typeTitle="outline-second" button="Sign Up"></app-card-top-musc>
<app-card-new typeBtn="outline-primary"></app-card-new>