<div class="conteiner__card-new">
    <div class="card-new__photo">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
    </div>
    <div class="card-new__filtre">
        <span>Music</span>
        <span>City</span>
        <span>Personality</span>
    </div>
    <div class="card-new__title">
        <h3>Soundscapes of the City: An interview with Lei Hart</h3>
    </div>
    <div class="card-new__description">
        <p>fgfhgdflvc jhfklgdfkl fgjdfkgjdflkbnmc rgjflgkjdfkl jgdfklgjdflk gjlkgdf </p>
    </div>
</div>
