<div class="card-new" [attr.typeBtn]="typeBtn">
    <div class="card-new__conteiner" [attr.typeBtn]="typeBtn">
        <div 
            class="card-new__noticia" 
            [attr.typeBtn]="typeBtn"
            >
            <h1 [attr.typeBtn]="typeBtn">Spotlight on Artists</h1>
        </div>
        <div class="conteiner" [attr.typeBtn]="typeBtn"> 
            <swiper-container 
                style="
                    --swiper-navigation-color: black;
                    --swiper-navigation-bullet-horizontal-gap: 4px;
                    --swiper-navigation-bullet-vertical-gap: 6px;
                    "
                navigation="true"
                pagination="false" 
                slides-per-view="4"
                space-between="32" 
                free-mode="true"
                >
                <swiper-slide height="100em">
                        <div class="card-new__photo">
                        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                        </div>
                        <div class="card-new__filtre">
                            <span>Trends</span>
                            <span>guilhermeefds</span>
                            <span>Filme</span>
                        </div>
                        <div class="card-new__title">
                            <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                        </div>
                        <div class="card-new__description">
                            <p>dkl;gsdmj kgfkdl fdkjgdf hgf ffh ihfsdjfnh eihfjsdljfhn seihfsd</p>
                        </div>
                </swiper-slide>
                <swiper-slide>
                    <div>
                        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                    </div>
                    <div class="card-new__filte">
                        <span>Trends</span>
                        <span>guilhermeefds</span>
                        <span>Filme</span>
                    </div>
                    <div class="card-new__title">
                        <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                    </div>
                    <div class="card-new__descricao">
                        <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                    </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div>
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
                </div>
                <div class="card-new__filte">
                    <span>Trends</span>
                    <span>guilhermeefds</span>
                    <span>Filme</span>
                </div>
                <div class="card-new__title">
                    <h3>Era uma vez nao sei o que escreverfsdfsdf</h3>
                </div>
                <div class="card-new__descricao">
                    <p>gdfdfghdfuhgdfughdjcvbhnxckbvxcboiurqwohjjklnasxcas fehfsdln eihfsdjfnh eihfjsdljfhn seihfsd</p>
                </div>
            </swiper-slide>
            </swiper-container>
        </div>
    </div>
</div>